<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息 -->
    <dubbo:application name="bobo-tools"/>
    <!-- 注册中心服务地址-->
    <dubbo:registry client="curator" username="taxware" password="123456" protocol="zookeeper" address="" check="false"/>
    <!--
    <dubbo:registry  protocol="zookeeper" address="127.0.0.1:2181" check="false"/>
    -->
    <!-- 用dubbo协议-->
    <dubbo:protocol name="dubbo" port="-1" dispather="all"/>

    <dubbo:consumer default="true" check="false"/>

    <dubbo:reference id="invoiceStockManagementApi"
                     interface="com.xforceplus.micro.InvoiceStockManagementApi"/>
</beans>